#GameOverLabel {
    align-self: center;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    margin-top: 20%;
    -unity-font-style: bold;
    font-size: 30px;
}

#MenuButton {
    align-items: center;
    justify-content: center;
    align-self: center;
    flex-shrink: 0;
}
